<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>   
    {{> header}}
    <h3>{{pageName}}</h3>
    <p>Get Current Year : {{getCurrentYear}}</p>
    <p>This is my Home Page</p>
 {{> footer}} 
</body>
</html>
